pngtuber.exe
pngtuber.exe
pngtuber.exe
.vscode/launch.json
myapp.exe
config.txt
resource.res
v_tuber.exe
v_tuber.exe
talk.png~
idle.png~
b64_err_idle.txt
b64_err_talk.txt
b64_idle.txt
b64_main.txt
b64_miniaudio.txt
b64_talk.txt
b64_err_idle.txt
presets/burunduk/idle.png
presets/burunduk/settings.txt
presets/burunduk/settings.txt.txt
presets/burunduk/talk.png
presets/default/settings.txt
presets/nedo_default/idle.png
presets/nedo_default/talk.png
presets/slonik/idle.png
presets/slonik/settings.txt
presets/slonik/talk.png
